body{
    /* background: rgb(178,34,34); */
    background: radial-gradient(circle, rgba(178,34,34,1) 20%, rgba(139,0,0,1) 50%, rgba(115,25,20,1) 80%);
}

/* travail sur la section */

.section-css{
    width: 35vw;
    line-height:5vh;
    background-color:#03224c;
    color: beige;
    text-align: center;
    margin: auto;
    margin-bottom:25px;
    border-radius: 10px;
    border: 1px solid #f9ba05;
}


.table-css{
    margin: auto;
    width: 25vw;
    /* height: 400px;
    background-color: blanchedalmond; */
}

.tr-css{
}

.gestion{
    height: 100%;
    width: 25%;
    border: 1px solid #f9ba05;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #8B0000;
}

.td-css{
    height: 100%;
    width: 100%;
    border: 1px solid #f9ba05;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #8B0000;
    border-spacing: 5px 1rem;
}



.lien{
    color: #f9ba05;
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

b{
    border: solid 2px #f9ba05;
}

input{
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

.input-css{
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
    color: #f9ba05;
    background: radial-gradient(circle, rgba(178,34,34,1) 20%, rgba(139,0,0,1) 50%, rgba(115,25,20,1) 80%);
}

.main{
    /* padding-left:5%;
    padding-right: 5%; */
    text-align: center;
}

.message{
    resize: none;
}
.bas{
    align-self: center;
}

/* .affichage{
    margin-top: 5%;
    background-color: #B22222;
} */

.formumaire{
    text-align: center;
}

.h1-css{
    text-align: center;
    font-size:3rem;
    color:#B22222 ;
}

h3{
    text-align: center;
    font-size:2rem;
    color:#f9ba05 ;
    /* border: solid 1px #B22222; */
    /* width: 250px; */
}

.bas{
    color: #f9ba05;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #f9ba05;
    background-color: #8B0000;
    align-content: end;
}

.mention{
    color: #f9ba05;
    font-size: 2rem;
    text-align: center;
    /* border: 1px solid #f9ba05; */
    background-color: #8B0000;
}

.boutton{
    border-radius: 10px;
    border: 1px solid #f9ba05;
    font-size: 1.5rem;
    background: radial-gradient(circle, rgba(178,34,34,1) 20%, rgba(139,0,0,1) 50%, rgba(115,25,20,1) 80%);
    color: #f9ba05;
}

.taille1{
    height: 20px;
}
/* $_session =['prix']=$_session['prix']
rprint
fprint*/